body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{

    width: 0.5rem;
}

body::-webkit-scrollbar-track{

    background-color: black;
}

body::-webkit-scrollbar-thumb{
    
    background-color: brown;
}

main{

    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    position: fixed;
    background-color: rgb(44, 43, 43);
    transition: width 300ms ease;
}

.navbar-nav {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {

    width : 100%;
}

.nav-item:last-child {

    margin-top: auto;
}

.nav-link{

    display: flex;
    align-items: center;
    height: 5rem;
    color: whitesmoke;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 500ms;
}

.nav-link:hover {

    filter: grayscale(0%) opacity(1);
    background: rgb(255, 165, 61);
    color: rgb(235, 235, 235);
}

.link-text{

    display: none;
    margin-left: 1rem;
}

.nav-link svg {

    width: 2rem;
    min-width: 2rem;
    margin-left: 1.5rem;
}

.fa-primary {

    color: rgb(211, 0, 0);
}

.fa-secondary {

    color: rgb(255, 79, 79);
}

.fa-primary,.fa-secondary {

    transition: 600ms;;
}

.logo {

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: royalblue;
    background-color: slateblue;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {

    transform: rotate(0deg);
    transition: transform 800ms;
}

.navbar:hover .logo svg {

    transform: rotate(-540deg);
}


@media only screen and (max-width: 600px) {

    .navbar {

        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {

        display: none;
    }

    .navbar-nav {

        flex-direction: row;
    }

    .nav-link {

        justify-content: center;
    }

    main{

        margin: 0;
    }
}

@media only screen and (min-width: 600px) {

    .navbar {

        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
    
    width: 16rem;
    }

    .navbar:hover .link-text{

        display: inline;
        transition: opacity 400ms;
    }
}